{% extends 'blog/main.html' %}
{% block main_section %}
<body>


    <!-- Title -->

    <div>
      <h2>Волинська Обласна Федерація кікбоксингу була заснована - 12.09.2005.</h2>
        <p>Кікбоксинг почав свій переможний марш по Волині в 2006 році. Цей вид єдиноборств стрімко завойовує популярність у молоді, пропагуючи здоровий спосіб життя і альтернативу алкоголю наркотикам і злочинності. Уже відкриті нові клуби в містах області: «Сават» м. Ковель, «Любарт» м. Володимир-Волинський, ДЮСШ No. 3 м. Нововолинськ, «Удар» м. Любешів, Паувер атлетик м. Ківерці. Під знаменами Волинського кікбоксингу зібралося більше 300 дітей. За першу «п'ятирічку» Федерацією Волині було підготовлено більше 75 КМС, 14 МСУ, 1 МСМК з кікбоксінгу, і 1 МСУ з боксу.</p>
        <p> Незважаючи на свій юний вік офіційний Федерація активно заявляє про себе на змаганнях різного рівня, адже школа підготовки професійних боксерів на Волині має куди давнішу історію! </p>

    </div>
    <div>
<!--      <img src="images/iphone6.png" alt="iphone-mockup">-->
        <img src="https://lh3.googleusercontent.com/GKdOZ5gwfouYsrhQhC8AdLNdyHV8-UU4E4kjcTAbm0isQjM4t8E3W3kSg2mCCtRG4lWug1gk4P4Nn8985nr72cnQusyd6WDaHSusT1eZNqpKMCj9BBiyia8g5XgdfvVrKHO2QpgIpg=w773-h1104-no" class="img-thumbnail md-2">
    </div>

  </section>


  <!-- Features -->

  <section id="features">

    <h3>Про людей, що роблять силу і міць Федерації:</h3>
    <p><b>Корольчук Ігор Адамович</b> - МС з боксу. Президент федерації «WAKO» Волині. Почесний президент Волинської обласної федерації кікбоксингу.</p>
    <p><b>Коцан Ігор Ярославович</b> - Професор, доктор біологічних наук, ректор ВНУ ім. Лесі Українки.  Президент федерації «IAKSA» Волині.</p>
    <p><b>Савчук Юрій Петрович</b> -  МС з боксу. Президент клуба  бокса “Західна Зірка”. </p>
    <p><b>Роговський Руслан Миколайович</b> - МС з боксу. Президент федерації «WTKA» Волині.</p>
    <p><b>Швидкий Віктор Васильович</b> - МС з самбо, дзюдо, рукопашного бою. Генерал-майор міліції. Почесний президент професійного боксу Волині.</p>
    <p><b>Кобель Анатолій Дмитрович</b> - МС з боксу. Виконавчій директор Волинської обласної федерації кікбоксингу.</p>
    <p><b>Ребрина Юрій Вячеславович</b> - МС з боксу. Віце-президент федерації «IAKSA»  Волині. </p>
    <p><b>Куць Юрій Сергійович</b> - МС з боксу.  Віце-президент федерації «WTKA»  Волині.</p>
    <p><b>Ковтун Святослав Анатолійович</b> - МС з боксу.  I Віце-президент федерації кікбоксингу Волині.</p>
    <p><b>Сидор Ярослав Іванович</b> - Президент “WTKA”. Кандидат медецинських наук.</p>
    <p><b>Ребрина Віктор Вячеславович</b> - Голова  колегіїї суддів.</p>
    <p><b>Шуппе Едуард Вікторович</b>- Голова ревізійної комісії.</p>
    <p><b>Іваницький Григорій Іванович</b> -  МС з боксу. Старший тренер ФСТ “Україна”.</p>
    <p><b>Мордик Микола Юрійович</b>  -  МС з кікбоксингу. Старший викладач ВНУ зі східних єдиноборств.</p>
    <p><b>Тимофеєв Віталій Вячеславович </b>-  МС з французького боксу “Сават”. Старший тренер м. Ковеля. </p>

    <h7><i><b> Ці люди не тільки допомагають вирішувати питання фінансування, але не дивлячись на свою ділову завантаженість, і зара підтримують відмінну фізичну форму і особистим прикладом надихають хлопців на успіх і досягнення максимального результату. Люди справи і глибоко патріотичних переконань, як і повинні бити майстри шкіряної рукавичьки, стояти на озброєнні у тих людей, які захищають Батьківщину. Тому й в Статутах федерації насам перед закладені програми і цілі патріотичної направленості: виховання молоді в дусі  загально людських цінностей, не залежно від національності, відродження почуття гордості за свою Батьківщину, повагу до її історичного минулого.</b></i></h7>

    <h3>Кращі спортсмени федерації кікбоксингу Волині. Дорослі:</h3>
    <p><b>Зубчук Юрій</b> (МСМК) член збірної України - чемпіон України і Кубка України 2009-2012 р., 2 місце чемпіонату світу 2011р.(Македонія).</p>
    <p><b>Швайко Іван</b> (МСУ) член збірної України - чемпіон України і Кубка України 2006-2011 р., чемпіон Кубку Світу 2006, 2007, 2011 року.</p>
    <p><b>Кобель Дмитро</b> (МСУ) член збірної України - переможець і фіналіст Юнацьких і Молодіжних ігор України 2005,2006 р., неодноразовий чемпіон і призер чемпіонатів і Кубків України 2005-2010 р., 3 місце Кубка Світу 2009 р.</p>
    <p><b>Подвальний Андрій</b> (МСУ) член збірної України - переможець і фіналіст Юнацьких і Молодіжних ігор України 2005,2006 р., неодноразовий чемпіон і призер чемпіонатів і Кубків України 2005-2011 р.</p>
    <p><b>Галейда Дмитро</b> (МСУ) член збірної України - чемпіон України і Кубка України 2005-2009 р., фіналіст і неодноразовий призер Кубку Світу 2006, 2007, 2008 р.</p>
    <p><b>Потапець Дмитро</b> (МСУ) член збірної України - чемпіон і призер чемпіонатів Кубку України 2009-2011 р.</p>
    <p><b>Бардась Денис</b> (МСУ) член збірної України - чемпіон і призер чемпіонатів Кубку України 2009-2011 р.</p>
    <p><b>Хильчук Юлія</b> (МСУ) член збірної України - чемпіон України і Кубка України 2009-2011р., призерка Кубку Світу 2009 р.</p>
    <p><b>Скоповський Володимир</b> (КМС) член збірної України - чемпіон і призер чемпіонатів Кубку України 2008-2011 р.</p>
    <p><b>Миронович Сергій</b> (КМС) резерв збірної України - чемпіон і призер чемпіонатів Кубку України 2009-2011 р. Чемпіони і призери Чемпіонатів і Кубків України 2008-2011 р. </p>


    <h3>Молодь, юніори, юнаки:</h3>
    <p>Люклянчук Максим (КМС), Трофимчук Денис (КМС), Бондарук Юлія (КМС), Бірук Святослав (КМС), Бірук Станіслав (КМС), Квач Вікторія (КМС), Корецький Юрій (КМС), Ребрина Роман (КМС), Корольчук Володимир (КМС), Гнатенко Олександр (КМС), Мазурок Лена (КМС), Васькевич Світлана (КМС), Новосад Вадим (КМС), Токарський Василь (І р.), Завгородній Дмитро (Ір.)</p>

    <h3>Провідні тренери обласної фкдерації:</h3>
    <p>Мордик М.Ю. -СК ВНУ м. Луцьк, Тимофєєв В.В. -СК «Сават»  м. Ковель, Іваницький Г.І. - ДЮСШ No. 1 м. Луцьк, Бродоса О.В. - ДЮСШ No. 3 м. Нововолинськ, Смаль С.А. - СК «Удар» м. Любаша, Падзізей В.Г. - СК «Любарт» м. В-Волинський, Грабовський О.В. - Паувер атлетик м. Ківерці.</p>
    <p>Старший тренер області - <b>Кобель Анатолій Дмитрович</b>.</p>

</body>
{% endblock main_section %}

{% block aside_news_section %}
    <h5><b>Дострокава перемога 3 раунд Іван Швайко БОКС ПОЛЬША УКРАЇНА 20.03.2016 </b></h5>
    <img src="https://i.ytimg.com/vi/bBULMhOq5OU/maxresdefault.jpg" class="img-thumbnail md-1">
    <p>Украина ДЮСШ №2 Луцьк - Польща БК КОРОЛЕВА БОКС Украина Польша 20 березня Порт Сіті Луцьк
Міжнародний турнір пам'яті першого майстра спорту СССР по боксу на Волині М.Г.Камнева
    </p>
    <a href="https://www.youtube.com/watch?v=ebmJSsOz5AQ" target="_blank">
        <button class="btn btn-warning">Посмотреть</button>
    </a>
{% endblock aside_news_section %}